* {
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: #e6e6e6;
}

.navbar {
    /* width: 100vw; */
    height: 10vh;
    background: #ffd200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 20px;
    margin-right: 20px; */
    list-style: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.navbar > li {
    /* background: #e21833; */
    padding: 5px;
    border-radius: 5px;
    color:black;
    margin: 30px;
    font-weight: bold;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 225px;
    height: 275px;
    background: #f7f7f7;
    border-radius: 5%;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.login > div:nth-child(1) {
    width: 100%;
    height: 20%;
    background: #e21833;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
}

.login > div:nth-child(2) {
    /*background:black;*/
    width:100%;
    height:80%;
    display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  gap:15px;
    margin-bottom:10px;
}

.login > div:nth-child(2) > div {
    display:flex;
  flex-direction:column;
  gap:5px;
}

.login > div:nth-child(2) > div > input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.login > div:nth-child(2) > div > input:active {
    border:none;
}

#login-button {
    padding: 10px;
    background: #e21833;
    border-radius:10px;
    border:none;
    color:white;
}